<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BookingAutomationSuite" verbose="1" parallel="false">

    <test name="Booking Tests">
        <classes>

            <class name="com.booking.tests.HomepageTest"/>
            <class name="com.booking.tests.DatePickerTest"/>
            <class name="com.booking.tests.GuestRoomTest"/>
            <class name="com.booking.tests.LoginTest"/>
            <class name="com.booking.tests.PropertyDetailTest"/>
            <class name="com.booking.tests.FilterTest"/>
            <class name="com.booking.tests.UIBehaviorTest"/>
            <class name="com.booking.tests.SearchTest"/>

            <!-- Your tests will be added here later -->
            <!-- <class name="com.booking.tests.SearchFlowTest"/> -->
            <!-- <class name="com.booking.tests.FiltersTest"/> -->
            <!-- <class name="com.booking.tests.NavigationBarTest"/> -->

        </classes>
    </test>

</suite>
